@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

/*** GENERAL LAYOUT ***/

/* Larger font size and nice font face */
body
{
    font-size: 28pt;
    font-family: Libre Baskerville;
    background: bg-apple;
}
/* increase line spacings */
ol > li, ul > li
{
    margin-bottom: 1em;
}
/* Use consistent bullets */
ul
{
    list-style-type: disc;
}

/*** LOGOS ***/

/* Logo container */
div.logos-container
{
    height: 3em;
}
/* Hide the logo cache */
div#logos-cache
{
    display: none;
}
/* Logos */
img.logo
{
    height: inherit;
}
/* Spacer between logos */
span.logos-spacer
{
    display: inline-block;
    width: 1em;
}

/*** SLIDE NUMBERS ***/

/* Make slide numbers appear in the bottom right corner */
div#slide-number
{
    bottom: 1em;
    font-size: 5vh;
    opacity: 1;
    position: absolute;
    right: 2.5em;
    text-align: right;
    transition: opacity 1s ease-in-out;
    transition-delay: 1.5s;
}
/* Hide slide number on the first slide */
.impress-on-title div#slide-number
{
    opacity: 0;
    transition-delay: 0s;
}

/*** ONE-AT-A-TIME SLIDES ***/
/* Hide list items on the slides by default */
body:not(.in-iframe) div.step.oneatatime > *:not(.notes) li
{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
/* Shown elements */
body:not(.in-iframe) div.step.oneatatime > *:not(.notes) li.show
{
    opacity: 1;
}

/*** TOUCH CONTROLS ***/
body.in-iframe div.touch-control
{
    display: none;
}
div.touch-control
{
    cursor: pointer;
    color: #C0C0C0;
    font-family: Lato Heavy, Arial Black, sans-serif;
    font-size: 80px;
    font-weight: bold;
    height: 100%;
    line-height: 100vh;
    position: fixed;
    top: 0px;
    transform: scaleY(5);
    vertical-align: middle;
    width: 50px;
}
div#touch-control-left
{
    left: 0px;
    text-align: left;
}
div#touch-control-right
{
    right: 0px;
    text-align: right;
}
